<?xml version="1.0"?>
<configuration>
  <appSettings>


    <!--Number of tries to calculate average values-->
    <add key="Tests" value="10"/>
    <!--Main algorithm number of iterations-->
    <add key="Iterations" value="1000"/>

    <!--If data should be from file-->
    <add key="FromFile" value="true"/>
    <add key="FileName" value="iris.data"/>

    <!--If not from file random will be used with following demention set-->
    <!--<add key="Dimentions" value="2,4,6,8,10,12,14,16,18,20,30,40"/>-->
    <add key="Dimentions" value="4"/>
    
    

    <!--Grids sizes to test. For exaple 25 means 25x25=625 neurons-->
    <!--<add key="Grids" value="10,25,50,100"/>-->
    <add key="Grids" value="10,25,50"/>
    
  </appSettings>

</configuration>
